.dd select {
    font-size: 1.1rem;
    width: 8rem;
    height: 2rem;
    border: var(--accent-color) solid 3px;
    border-radius: 5px;
    padding: .1rem 1rem;
    background: transparent;
    color: var(--text-primary);
    appearance: none;

    text-align-last: center;
}
