.notePicker {
    display: flex;
    justify-content: space-evenly;
    
}
.notePickerElement {
    border: var(--accent-color) solid 2px;
    border-radius: 5px;
    height: 3rem;
    width: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.accidentals {
    display: flex;

}
.accidentals .notePickerElement {
    margin: 0 .5rem;
}