.notePicker {
    display: flex;
    flex-direction: column;    
}

.notes {
    display: flex;
    gap: 1rem;
}

.accidentals {
    background: rgba(255, 255, 0, 0);
    width: 200px;
    margin-top: 1rem;
}

.notePickerElement {
    border: var(--accent-color) solid 3px;
    border-radius: var(--radius-small);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 100%;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {     
    .notes {
        gap: .2rem;
    }
}