.notePicker {
    display: flex;
    flex-direction: column;    
}

.notes {
    display: flex;
    gap: 1rem;
}

.accidentals {
    margin-top: 1rem;
    width: 200px;
    background: rgba(255, 255, 0, 0);
}

.notePickerElement {
    border: var(--accent-color) solid 3px;
    border-radius: 5px;
    height: 4rem;
    width: 100%;
  

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {     
    .notes {
        gap: .2rem;
    }
}