.dd select {
    border: var(--accent-color) solid 3px;
    background: transparent;
    color: var(--text-primary);
    border-radius: var(--radius-small);
    font-size: 1.1rem;
    text-align-last: center;
    width: 8rem;
    height: 2rem;
    padding: .1rem 1rem;
    appearance: none;
}
