.handle {
    position: absolute;
    color: white;
    background-color: rgba(138, 148, 0, 0.911);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transform: translate(-15px, -5px);

    display: flex;
    align-items: center;
    justify-content: center;

   /* width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid orange;
     transform: translateX(-15px); */
     cursor: pointer;
}

