:root {
    --width-content: 8rem;
}

.dropdownMenu {
    background: turquoise/* var(--bg-primary-color) */;
    width: var(--width-content);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 .5rem; */
    border-radius: 10px;

    position: relative;

    cursor: pointer;
    margin: .1rem;
}

.dropdown {
    background: transparent;
    border-radius: 5px;
    padding: .2rem;
  
    display: flex;
    flex-direction: column;

    flex: 1;
}
.dropdownMenu p {
    text-align: left;
    font-size: 15px;
    text-decoration: none;
    color: var(--text-primary);
    background: transparent;
    white-space: nowrap;
    /* margin: .5rem; */
    margin-right: 2rem;

    margin-left: .4rem;

    /* background: lightcoral; */
}



.dropdownMenu svg {
    position: absolute;
    z-index: 1;
    /* margin-right: .5rem; */
    margin-top: .1rem;
    margin-right: .3rem;
    right: 0;
    top: 0;
    fill: var(--text-primary);
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.elementWrapper {
    border-radius: 10px;
    z-index: 1;
    width: var(--width-content);
    position: absolute;
    background: turquoise;
    /* display: flex; */
    flex-direction: column;
    padding:.2rem;
    /* padding-top: 1.5rem; */
    transform: translate(-.2rem, -.2rem);
    transition: transform var(--transition-speed) ease;
    display: none;
}