.toggleView {
    display: flex;
}

.module {
    border: var(--accent-color) solid 3px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    border-radius: var(--radius-big);
}

.module::after {
    content: "";
    background: var(--accent-color);
    position: absolute;
    height: 100%;
    width: 3px;
}

.module > div {
    color: var(--accent-color);
    background: transparent;
    font-size: 20px;
    width: 100%;
    padding: .5rem 0;
    cursor: pointer;
}