.toggleView {
    display: flex;
}

.bla {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    border: var(--accent-color) solid 3px;
    
    border-radius: 10px;
    
}
.bla::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 3px;
    background: var(--accent-color);

}
.bla > div {
    width: 100%;
    padding: .5rem 0;
    font-size: 20px;
    color: var(--accent-color);
    background: transparent;
    cursor: pointer;
}