/* ------------ Navigation ------------ */
.navbar .topNavbar {
    /* background-color: var(--bg-top-nav); */
    position: fixed;
    width: var(--width-top-nav);
    height: var(--height-top-nav);
    display: flex;
    z-index: 0;
} 

.navbar .logoWrapper {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 2;
}

.navbar .logo {
    background: var(--bg-primary-color);
    display: flex;
    width: 5rem;
    height:4rem;
    padding: 7px;
}

.navbar .logoWrapper .logoText {
    color: var(--text-primary);/* --accent-color); */
    font-size: 30px;
    white-space: nowrap;
    display: flex;
    align-self: center;
    margin-left: 1rem;
}

.navbar .topNavbar ul {
    background: var(--bg-primary-color);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.navbar .topNavbar ul li {
    border: 1px solid rgb(201, 201, 201);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.navbar .topNavbar ul li:hover svg {
    fill: var(--text-primary);
}

/* ---------------- Side Navbar ---------------- */
.navbar .sideNavbar {
    background-color: var(--bg-primary-color);
    position: fixed;
    z-index: 1;    
    transition: all .3s ease;
}

.navbar .sideNavbar ul li span.title {
    display: none;
}

.navbar .sideNavbar ul li:hover svg,
.navbar .sideNavbar ul li:hover,
.navbar .sideNavbar ul li.active {
   color: var(--text-primary); 
   fill: var(--text-primary);
}

/* .navbar .sideNavbar ul li svg {
    fill: rgb(226, 226, 226);
} */

svg {
    display: block;
    margin:auto;
    fill: var(--text-unselected);
}


/* -------- Small Screen -------- */
@media only screen and (max-width: 600px) {      
    .navbar .sideNavbar {
        bottom: 0;
        width: 100vw;/* var(--width-side-nav); */
        height: 9vh;
        box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.1);
    }
    .navbar .sideNavbar ul {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .navbar .sideNavbar ul li.active svg{
        fill: var(--accent-color);
    }
}


/* -------- Big Screen -------- */
@media only screen and (min-width: 600px) {
    .navbar .sideNavbar {
        top: 0;
        width: var(--width-side-nav); 
        height: var(--height-side-nav);
    }

    .navbar .sideNavbar ul {
        display: flex;
        flex-direction: column;
        margin-top: 8vh;
    }

    .navbar .sideNavbar ul li {
        color: var(--text-unselected);
        white-space: nowrap;
        position: relative;
        display: flex;
        align-items: center;
        justify-self: center;
        padding: 20px;
        padding-left: 27px;
        margin-bottom: 1px;
    }
    
    .navbar .sideNavbar:hover {
        width: 13rem;
    }

    .navbar .sideNavbar:hover ul li span.title {
        display: inline-block;
    }
    
    .navbar .sideNavbar ul li:before {
        content: ""; 
        background: var(--accent-color);
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%; 
    }

    .navbar .sideNavbar ul li:hover:before,
    .navbar .sideNavbar ul li.active:before {
       display: block;
    }
    
    .navbar .sideNavbar ul li span.icon {
        margin-right: 2rem;
        display: inline-block;
    }
} 

