/* ---------------- Top Navbar ---------------- */
.navbar .topNavbar {
    -webkit-box-shadow: 0px 3px 11px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 11px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 11px -4px rgba(0,0,0,0.75);
    position: fixed;
    z-index: 0;
    display: flex;
    width: var(--width-top-nav);
    height: var(--height-top-nav);
} 

.navbar .logoWrapper {
    position: fixed;
    z-index: 2;
    display: flex;
    height: var(--height-top-nav);
    top: 0;
    left: 0;
}

.navbar .logo {
    display: flex;
    align-self: center;
    width: var(--width-side-nav);
    height: var(--width-side-nav);
    padding: 1.2rem;
}

.navbar .logoWrapper .logoText {
    color: var(--text-primary);
    font-size: 30px;
    white-space: nowrap;
    display: flex;
    align-self: center;
    margin-left: 1rem;
}

.navbar .topNavbar ul {
    background: var(--bg-secondary-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: var(--height-top-nav);
    padding: 0 20px;
}

.navbar .topNavbar ul li {
    border: 1px solid rgb(201, 201, 201);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-left: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.navbar .topNavbar ul li:hover svg {
    fill: var(--text-primary);
}

/* ---------------- Side Navbar ---------------- */
.navbar .sideNavbar {
    background-color: var(--bg-primary-color);
    position: fixed;
    z-index: 1;    
    transition: all .2s ease-in;
}

.navbar .sideNavbar ul li span.title {
    /* display: none; */
    transition: opacity .2s ease-in;
    opacity: 0;
}

.navbar .sideNavbar ul li:hover svg,
.navbar .sideNavbar ul li:hover,
.navbar .sideNavbar ul li.active {
   color: var(--text-primary); 
   fill: var(--text-primary);
}

svg {
    fill: var(--text-unselected);
    display: block;
    margin:auto;
}

/* -------- Small Screen -------- */
@media only screen and (max-width: 600px) {      
    .navbar .sideNavbar {
        box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.1);
        width: 100vw;
        height: var(--height-top-nav);
        bottom: 0;
    }
    .navbar .sideNavbar ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }
    .navbar .sideNavbar ul li.active svg{
        fill: var(--accent-color);
    }

    .navbar .sideNavbar span.title  {
        display: none;
    }
}

/* -------- Big Screen -------- */
@media only screen and (min-width: 600px) {
    .navbar .logoWrapper::after {
        content: "";
        background: var(--text-primary);
        position: absolute;
        left: .5rem;
        top: var(--height-top-nav);
        width: calc(var(--width-side-nav) - 1rem);
        height: 1px;
        opacity: .4;
    }

    .navbar .sideNavbar {
        top: 0;
        width: var(--width-side-nav); 
        height: var(--height-side-nav);
    }

    .navbar .sideNavbar ul {
        display: flex;
        flex-direction: column;
        margin-top: calc(1rem + var(--height-top-nav));
    }

    .navbar .sideNavbar ul li {
        color: var(--text-unselected);
        white-space: nowrap;
        position: relative;
        display: flex;
        align-items: center;
        justify-self: center;
        padding: 20px;
        padding-left: 27px;
        margin-bottom: 1px;
    }

    .navbar .sideNavbar:hover span.title  {
        opacity: 1;
    }
    
    .navbar .sideNavbar:hover {
        width: 13rem;
    }
    
    .navbar .sideNavbar ul li:before {
        content: ""; 
        background: var(--accent-color);
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%; 
    }

    .navbar .sideNavbar ul li:hover:before,
    .navbar .sideNavbar ul li.active:before {
       display: block;
    }
    
    .navbar .sideNavbar ul li span.icon {
        display: inline-block;
        margin-right: 2rem;
    }

    .navbar .sideNavbar ul li.active svg{
        fill: var(--text-primary);
    }
} 