.label {
    text-align: left;
    margin-bottom: .5rem;
}

.resultingChords {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10vh, 1fr));
    gap: .5rem;
}

.chordAndVoicing {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.chordNote {
    border: grey solid 1.5px;
    border-radius: var(--radius-big);
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
}

.voicing {
    margin-top: .5rem;
}