/* -------- Scale / Chord -------- */
.configVoicing {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* -------- Notes & Intervals -------- */
.resultScale {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.noteAndInterval {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    /* border: var(--text-primary) solid 1px; */
}
.noteAndInterval::after {
    position: absolute;
    content: "";
    width: 100%;
    height: .5px;
    top: 50%;
    
    background: var(--text-primary);
    opacity: .6;
}

.noteAndInterval>div {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* -------- Fretboard Config -------- */
.fretboardConfig {
    display: flex;
    position: relative;
}

.fretboardConfig > div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fretboardConfig .configStrings {
    display: flex;
    flex-direction: column;
}
.fretboardConfig .configStrings div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.fretboardConfig .configStrings div:first-child {
    margin-bottom: .5rem;
}
.fretboardConfig .configStrings svg {
    padding: 5px;   
    min-width: 2rem; 
}

.showFrets {
    display: flex;
    align-items: center;
}


.boardWrapper {
    margin-top: 1rem;
    background: var(--bg-secondary-color);
    padding: .5rem;
    user-select: none;
}

.board {
    display: flex;
    overflow: hidden;
    padding-right: .15rem;
    padding-bottom: 1rem;
    overflow-x: scroll;
}

.openStrings {
    min-width: 2.5rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.openStrings .note {
    margin: 0.3rem 0;
}

.fret {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.fret p {
    height: 2rem;
    font-weight: lighter;
}

.fret::before {
    content: "";
    background: rgba(70, 70, 70);
    position: absolute;
    top: 2rem;
    left: 0;
    width: .3rem;
    height: calc(100% - 2rem);
    transform: translateX(-.15rem);
}

.strings {
    z-index: 1;
    background: rgb(87, 87, 87);
    width: 100%;
    height: .3rem;
    margin: 1.4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background: var(--bg-secondary-color);
    margin: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.stringNote {
    border: var(--text-primary) solid 1px;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


/* -------- Small Screen -------- */
@media only screen and (max-width: 750px) {
    /* -------- Fretboard Config -------- */
    .fretboardConfig {
        flex-direction: column;
    }
    .fretboardConfig::after {
        content: "";
        position: absolute;
        opacity: .5;
        height: .5px;
        width: 100%;
        background-color: var(--text-primary);
        top: 50%;
    }
    .fretboardConfig .configStrings {
        margin-bottom: .5rem;
    }
}

/* -------- Big Screen -------- */
@media only screen and (min-width: 750px) {
    .fretboardConfig::after {
        content: "";
        position: absolute;
        opacity: .5;
        height: 100%;
        width: .5px;
        background-color: var(--text-primary);
        left: 50%;
    }
}