.collapsableContainer {
    margin-bottom: 10px;
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}
.label > div {
    cursor: pointer;
}

.label svg {     /* ! Auslagern */    
    fill: var(--text-primary);
    transition: transform var(--transition-speed);
    border: var(--text-primary) solid 1px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}

.content {
    /* margin-top: .5rem; */
 
   /*  background: royalblue; */
    
    /* padding: 0 20px; */

    overflow: hidden ;
    height: 0;
    /* transition: height var(--transition-speed); */
}