.chordsInKey {
    text-align: left;
    display: flex;
    flex-direction: column;
}

/* ---- Select Voicing ---- */
.voicingPicker {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

@media only screen and (max-width: 600px) {     
    .voicingPicker {
        flex-direction: column;
    }
    .voicingBtn {
        padding: .4em 3.5em;
    }

    .progression {
        flex-direction: column;
    }

    .progressionNum {
        align-self: flex-start;
    }
}