.collapsableContainer {
    margin-bottom: 1rem;
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .3rem;
}

.label > div {
    cursor: pointer;
}

.label svg {   
    fill: var(--text-primary);
    border: var(--text-primary) solid 1px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    transition: transform var(--transition-speed);
}

.content {
    overflow: hidden ;
    height: 0;
}