*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

@import url('./styles/typography.css');
@import url('./styles/circle-of-fifths.css');

:root {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;

    /* Theme light */
    --text-color-primary: rgb(31, 31, 31);
    --bg-primary-color: white;
    --bg-secondary-color: rgb(240, 240, 240);
    --text-primary: rgb(53, 53, 53);
    --text-unselected: rgb(117, 117, 117);
    
    /* Accent Color */
    --accent-color: rgb(0, 160, 235);
    --accent-color-light: rgb(33, 171, 235);

    /* Animation */
    --transition-speed: 600ms;
    --transition-speed-fast: 300ms;

    /* Navigation */
    --bg-top-nav: white;
    --bg-side-nav: royalblue;
    --selected-nav-item: white;
    --width-top-nav: 100vw;
    --height-top-nav: 4rem;
    --width-side-nav: 5rem;
    --height-side-nav: 100%;
    --width-side-nav-open: 13rem; 

    /* Major / Minor ... Colors */
    --major-color: rgb(250, 91, 93);
    --minor-color: rgb(0, 147, 251);
    --dim-color: rgb(70, 252, 133);	
    --p1-color: rgb(239, 243, 10);
    --p4-color: rgb(239, 243, 10);
    --p5-color: rgb(239, 243, 10);
    --p8-color: rgb(250, 91, 93);

    /* Radius */
    --radius-big: 10px;
    --radius-small: 5px;

}

/* Theme dark */
body[data-theme="dark"] {
    --bg-primary-color: rgb(53, 53, 53);
    --bg-secondary-color: rgb(39, 39, 39);
    --text-primary: white;
    --text-unselected: rgb(197, 197, 197);
}

body {
    position: relative;
    background: var(--bg-secondary-color);
    color: var(--text-primary);
    fill: var(--text-primary);
}

/* Container for all Components */
.content {
    background: var(--bg-secondary-color);
    color: var(--text-primary);
    position: absolute;
    z-index: -1;     
    width: calc(100% - var(--width-side-nav));
    min-height: calc(100vh - var(--height-top-nav)); 
    margin-left: var(--width-side-nav);
    margin-top: var(--height-top-nav);
    padding: 1rem;
}

/* Card */
.card {
    background: var(--bg-primary-color);
    -webkit-box-shadow: 5px 5px 11px -4px rgba(0,0,0,0.39);
    -moz-box-shadow: 5px 5px 11px -4px rgba(0,0,0,0.39);
    box-shadow: 5px 5px 11px -4px rgba(0,0,0,0.39);
    border-radius: var(--radius-big);   
    color: var(--text-primary);
    /* height: 100%; */
}

.card-padding {
    padding: 1rem;
}

.card-wrapper {
    position: relative;
    margin-top: 1rem;
}

/* Button */
.btn {
    background: var(--bg-primary-color);
    border: var(--accent-color) solid 3px;
    border-radius: var(--radius-big);
    opacity: .6;
    width: 100%;
    padding: .4em 2em;
    color: var(--text-primary);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: lighter;
}

.btn:hover {
    text-decoration: none;
    opacity: 1;
}

.svg-btn {
    border: var(--text-primary) solid 1px;
    border-radius: var(--radius-small);
    width: 2rem;
    height: 2rem;
}

/* ---- Scrollbar ---- */
::-webkit-scrollbar {
    width: 3px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background-color: rgba(172, 172, 172, .50);
    border-radius: var(--radius-small);
}

::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: var(--radius-small);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color);
}

@media only screen and (max-width: 600px) {     
    .content {
        width: 100%;
        margin-top: var(--height-top-nav);
        margin-left: 0;
        margin-bottom: var(--height-top-nav);
    }    
}