/* ---- Reset CSS ---- */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

:root {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;

    --text-color-primary: rgb(31, 31, 31);

    /* Theme light */
    --bg-primary-color: white;
    --bg-secondary-color: rgb(240, 240, 240);
    --text-primary: rgb(53, 53, 53);
    --text-unselected: rgb(117, 117, 117);
    

    /* Accent Color */
    --accent-color: rgb(0, 160, 235);
    --accent-color-light: rgb(33, 171, 235);



    /* Animation */
    --transition-speed: 600ms;


    /* Navigation */
    --bg-top-nav: white;
    --bg-side-nav: royalblue;
    --selected-nav-item: white;

    --width-top-nav: 100vw;
    --height-top-nav: 4rem;

    --width-side-nav: 5rem;
    --height-side-nav: 100%;
    --width-side-nav-open: 13rem; /* lose anim */


    /* Major / Minor ... Colors */
    --major-color: rgb(250, 91, 93);
    --minor-color: rgb(0, 147, 251);
    --dim-color: rgb(70, 252, 133);	
}

/* Theme dark */
body[data-theme="dark"] {
    --bg-primary-color: rgb(53, 53, 53);
    --bg-secondary-color: rgb(39, 39, 39);
    --text-primary: white;
    --text-unselected: rgb(197, 197, 197);
}

body {
    background: var(--bg-primary-color);
    color: var(--text-primary);
    fill: var(--text-primary);
}

/* -------- Typography -------- */
h1 {
    font-size: 96px;
    font-weight: lighter;
    letter-spacing: -1.5px;
}

/* Container for all Components */
.content {
    position: absolute;
    background: var(--bg-secondary-color);
    z-index: -1;          /* so the box shadow in top nav is visible */
    width: calc(100% - var(--width-side-nav));
    min-height:  calc(100% - var(--height-top-nav)); 
    margin-left: var(--width-side-nav);
    margin-top: var(--height-top-nav);
    padding: 1rem;

    color: var(--text-primary);
}

/* Card */
.card {
    background: var(--bg-primary-color);
    -webkit-box-shadow: 5px 5px 11px -4px rgba(0,0,0,0.39);
    -moz-box-shadow: 5px 5px 11px -4px rgba(0,0,0,0.39);
    box-shadow: 5px 5px 11px -4px rgba(0,0,0,0.39);
    border-radius: 5px;
    padding: 1em;
    color: var(--text-primary);
}

/* Button */
.btn {
    color: var(--bg-primary-color);
    background: var(--bg-primary-color);
    border-radius: 10px;
    opacity: .6;
    text-decoration: none;
    font-size: 1.5rem;

    font-weight: 700;
    border: none;

    padding: .4em 1.2em;

    font-weight: lighter;


}
.btn:hover {
    opacity: 1;
    text-decoration: none;
}

.svg-btn {
    border: var(--text-primary) solid 1px;
    border-radius: 5px;
    width: 2rem;
    height: 2rem;
}

/* ---- Scrollbar ---- */
::-webkit-scrollbar {
    width: 0.3em;
    
}

::-webkit-scrollbar-track {
    background-color: rgba(172, 172, 172, .50);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color);
}

/* Circle of fifths - should not be here */
#cirlce text {
    cursor: pointer;
}
#fields path {
    stroke: whitesmoke;
    fill-opacity: .6;
    cursor: pointer;
}
#circleDim path {
    fill: var(--dim-color);
}
#circleMinor path {
    fill: var(--minor-color);
}
#circleMajor path {
    fill: var(--major-color);
}

#circleTexts text {
    cursor: pointer;
}

#fields path:hover {
    fill-opacity: 1;
}


@media only screen and (max-width: 600px) {     
    .content {
        width: 100%;
        margin-left: 0;
        margin-bottom: 9vh;
        margin-top: var(--height-top-nav);
        padding: .5rem;
    }    
}