/* -------- Scale / Chord -------- */
.configVoicing {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* -------- Notes & Intervals -------- */
.resultScale {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.noteAndInterval {
    position: relative;
    display: flex;
    flex-direction: column;
}

.noteAndInterval::after {
    content: "";
    background: var(--text-primary);
    position: absolute;
    top: 50%;
    width: 100%;
    height: .5px;
    opacity: .6;
}

.noteAndInterval > div {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------- Fretboard Config -------- */
.fretboardConfig {
    display: flex;
    position: relative;
}

.fretboardConfig > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.fretboardConfig .configStrings {
    display: flex;
    flex-direction: column;
}
.fretboardConfig .configStrings div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.fretboardConfig .configStrings div:first-child {
    margin-bottom: .5rem;
}
.fretboardConfig .configStrings svg {
    padding: 5px;   
    min-width: 2rem; 
}

.showFrets {
    display: flex;
    align-items: center;
}

.boardWrapper {
    background: var(--bg-secondary-color);
    margin-top: 1rem;
    padding: .5rem;
    user-select: none;
}

.board {
    display: flex;
    overflow: hidden;
    padding-right: .15rem;
    padding-bottom: 1rem;
    overflow-x: scroll;
}

.openStrings {
    display: flex;
    flex-direction: column;
    min-width: 2.5rem;
    margin-top: 2rem;
}

.openStrings .note {
    margin: 0.3rem 0;
}

.fret {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fret p {
    font-weight: lighter;
    height: 2rem;
}

.fret::before {
    content: "";
    background: rgba(70, 70, 70);
    position: absolute;
    top: 2rem;
    left: 0;
    width: .3rem;
    height: calc(100% - 2rem);
    transform: translateX(-.15rem);
}

.strings {
    background: rgb(87, 87, 87);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: .3rem;
    margin: 1.4rem 0;
}

.note {
    background: var(--bg-secondary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    margin: .5rem;
    cursor: pointer;
}

.stringNote {
    border: var(--text-primary) solid 1px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

/* -------- Small Screen -------- */
@media only screen and (max-width: 750px) {
    /* -------- Fretboard Config -------- */
    .fretboardConfig {
        flex-direction: column;
    }

    .fretboardConfig::after {
        content: "";
        background-color: var(--text-primary);
        position: absolute;
        top: 50%;
        height: .5px;
        width: 100%;
        opacity: .5;
    }

    .fretboardConfig .configStrings {
        margin-bottom: .5rem;
    }
}

/* -------- Big Screen -------- */
@media only screen and (min-width: 750px) {
    .fretboardConfig::after {
        content: "";
        background-color: var(--text-primary);
        position: absolute;
        left: 50%;
        width: .5px;
        height: 100%;
        opacity: .5;
    }
}