.numberPicker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numberPicker svg {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    fill: var(--text-primary);
}
.numberPicker svg:first-child {
    transform: rotate(180deg);
}
.numberPicker div {
    color: var(--text-primary);
    user-select: none;
}