.legend {
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1rem;
}

.legend div {
    position: relative;
}

.legend div::after {
    content: "";
    border-radius: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    height: 1rem;
    width: 1rem;
    transform: translate(1.5rem, -50%);
}

.legend .major::after {
    background: var(--major-color);
}

.legend .minor::after {
    background: var(--minor-color);
}

.legend .dim::after {
    background: var(--dim-color);
}